<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Grid</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="modulifier.min.css" rel="stylesheet">
  {{#if commonFiles.commonParsable.gridifier}}
    <link href="../../common/grid.css" rel="stylesheet">
  {{/if}}
  <link href="typografier.min.css" rel="stylesheet">
  {{#if commonFiles.commonParsable.theme}}
    <link href="../../common/theme.css" rel="stylesheet">
  {{/if}}
  <link href="common.min.css" rel="stylesheet">
  <link href="grid.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet">
  {{#if commonInfo.readme.attributes.fontUrl}}
    <link href="{{{commonInfo.readme.attributes.fontUrl}}}" rel="stylesheet">
  {{/if}}
</head>
<body>

  {{{pattern}}}

</body>
</html>
