<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Brand</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="modulifier.min.css" rel="stylesheet">
  {{#if commonFiles.gridifier}}
    <link href="../../common/grid.css" rel="stylesheet">
  {{/if}}
  <link href="typografier.min.css" rel="stylesheet">
  {{#if commonFiles.theme}}
    <link href="../../common/theme.css" rel="stylesheet">
  {{/if}}
  <link href="grid.min.css" rel="stylesheet">
  {{#if commonFiles.fontUrl}}
    <link href="{{fontUrl}}" rel="stylesheet">
  {{/if}}
</head>
<body>

  {{{pattern}}}

</body>
</html>
