<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Pattern library</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>{{optimized_css}}</style>
</head>
<body>

  <nav>
    <ul>
      <li><a href="#brand">Brand</a></li>
      {{#if files.commonParsable.typografier}}
        <li><a href="#typography">Typography</a></li>
      {{/if}}
      {{#if files.commonParsable.gridifier}}
        <li><a href="#grid">Grid</a></li>
      {{/if}}
      {{#if files.commonParsable.modulifier}}
        <li><a href="#modules">Modules</a></li>
      {{/if}}
      {{#if files.commonParsable.icons}}
        <li><a href="#icons">Icons</a></li>
      {{/if}}
      {{#each patterns}}
        {{#unless opts.hideNav}}
          <li><a href="#{{name}}">{{namePretty}}</a></li>
        {{/unless}}
      {{/each}}
    </ul>
  </nav>

  <main>
    {{#each patterns}}
      {{{content}}}
    {{/each}}
  </main>

  <script>{{optimiezd_js}}</script>
</body>
</html>
