<section class="pattern" id="{{name}}" role="tabpanel" hidden aria-hidden="true" {{#unless showSubHeadings}}style="{{#if patterns.[0].readme.backgroundColour}}background-color:{{patterns.[0].readme.backgroundColour}}; color:rgba({{patterns.[0].readme.interfaceColours.primary}},{{patterns.[0].readme.interfaceColours.primary}},{{patterns.[0].readme.interfaceColours.primary}},.9);{{/if}}"{{/unless}}>
  <div class="pattern-toolbar gutter pad-t-1-4 pad-b-1-8 relative" {{#unless showSubHeadings}}style="{{#if patterns.[0].readme.backgroundColour}}border-color:rgba({{patterns.[0].readme.interfaceColours.primary}},{{patterns.[0].readme.interfaceColours.primary}},{{patterns.[0].readme.interfaceColours.primary}},.1); color:rgba({{patterns.[0].readme.interfaceColours.primary}},{{patterns.[0].readme.interfaceColours.primary}},{{patterns.[0].readme.interfaceColours.primary}},.9);{{/if}}"{{/unless}}>
    <h2 class="pattern-name exa push-1-4" {{#if showSubHeadings}}style="color: {{#if commonInfo.readme.attributes.accentColour}}{{commonInfo.readme.attributes.accentColour}}{{else}}{{#with (lookup commonInfo.theme.colours.primary 0)}}{{hex}}{{/with}}{{/if}};"{{else}}{{#unless patterns.[0].readme.backgroundColour}}style="color: {{#if commonInfo.readme.attributes.accentColour}}{{commonInfo.readme.attributes.accentColour}}{{else}}{{#with (lookup commonInfo.theme.colours.primary 0)}}{{hex}}{{/with}}{{/if}};"{{/unless}}{{/if}}>{{namePretty}}</h2>
    {{#if showSubHeadings}}
      <nav class="pattern-nav">
        <ol class="list-group-inline push-1-4 pad-b-1-4">
          {{#each patterns}}
            <li><a href="#{{../name}}-{{name}}">{{namePretty}}</a></li>
          {{/each}}
        </ol>
      </nav>
    {{/if}}
    {{#unless showSubHeadings}}
        <ul class="list-group-inline gutter absolute pin-cr">
          {{#unless patterns.[0].readme.hideCode}}
            <li>
              <button class="center-contents-vertical pattern-tool-btn pattern-code-btn" title="Show code" aria-label="Show code" aria-pressed="false" aria-controls="{{name}}-{{patterns.[0].name}}-code-sample">
                <i class="icon i-18">
                  <svg><use xlink:href="#icon-code"></use></svg>
                </i>
              </button>
            </li>
          {{/unless}}
          {{#unless patterns.[0].readme.hidePopOutButton}}
            <li>
              <a class="center-contents-vertical pattern-tool-btn pattern-pop-btn" href="{{patterns.[0].localPath}}" target="_blank" title="Open pattern in a new tab" aria-label="Open pattern in a new tab">
                <i class="icon i-18">
                  <svg><use xlink:href="#icon-pop-out"></use></svg>
                </i>
              </a>
            </li>
          {{/unless}}
        </ul>
    {{/unless}}
  </div>

  {{#if readme.content.body}}
    <div class="pattern-desc milli island" {{#unless showSubHeadings}}style="{{#if patterns.[0].readme.backgroundColour}}border-color:rgba({{patterns.[0].readme.interfaceColours.primary}},{{patterns.[0].readme.interfaceColours.primary}},{{patterns.[0].readme.interfaceColours.primary}},.05); color:rgba({{patterns.[0].readme.interfaceColours.primary}},{{patterns.[0].readme.interfaceColours.primary}},{{patterns.[0].readme.interfaceColours.primary}},.9);{{/if}}"{{/unless}}>
      <div class="max-length">{{{readme.content.body}}}</div>
    </div>
  {{else}}
    {{#if patterns.[0].readme.desc}}
      <div class="pattern-desc milli island" {{#unless showSubHeadings}}style="{{#if patterns.[0].readme.backgroundColour}}border-color:rgba({{patterns.[0].readme.interfaceColours.primary}},{{patterns.[0].readme.interfaceColours.primary}},{{patterns.[0].readme.interfaceColours.primary}},.05); color:rgba({{patterns.[0].readme.interfaceColours.primary}},{{patterns.[0].readme.interfaceColours.primary}},{{patterns.[0].readme.interfaceColours.primary}},.9);{{/if}}"{{/unless}}>
        <div class="max-length">{{{markdown patterns.[0].readme}}}</div>
      </div>
    {{/if}}
  {{/if}}

  {{desc}}

  {{#each patterns}}
    <div class="pattern-details" id="{{../name}}-{{name}}" style="{{#if readme.backgroundColour}}background-color:{{readme.backgroundColour}};{{/if}}">
      {{#if ../showSubHeadings}}
        <div class="pattern-toolbar pattern-toolbar-inner relative gutter pad-t-1-4 pad-b-1-4" style="{{#if readme.backgroundColour}}border-color:rgba({{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},.1); color:rgba({{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},.9);{{/if}}">
          <h3 class="pattern-name tera push-1-8">{{namePretty}}</h3>
            <ul class="list-group-inline gutter absolute pin-cr">
              {{#unless readme.hideCode}}
                <li>
                  <button class="center-contents-vertical pattern-tool-btn pattern-code-btn" title="Show code" aria-label="Show code" aria-pressed="false" aria-controls="{{../name}}-{{name}}-code-sample">
                    <i class="icon i-18">
                      <svg><use xlink:href="#icon-code"></use></svg>
                    </i>
                  </button>
                </li>
              {{/unless}}
              {{#unless readme.hidePopOutButton}}
                <li>
                  <a class="btn center-contents-vertical pattern-tool-btn pattern-pop-btn" href="{{localPath}}" target="_blank" title="Open pattern in a new tab" aria-label="Open pattern in a new tab">
                    <i class="icon i-18">
                      <svg><use xlink:href="#icon-pop-out"></use></svg>
                    </i>
                  </a>
                </li>
              {{/unless}}
            </ul>
        </div>
        {{#if readme.desc}}
          <div class="pattern-desc milli island" style="{{#if readme.backgroundColour}}border-color:rgba({{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},.05); color:rgba({{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},.9);{{/if}}">
            <div class="max-length">{{{markdown readme}}}</div>
          </div>
        {{/if}}
      {{/if}}

      <div class="pattern-examples pad-t-1-2 pad-b-1-2" style="{{#if readme.backgroundColour}}color:rgb({{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}});{{/if}}">
        <div class="gutter{{#unless readme.notResizable}}-2{{/unless}} pad-t-1-2 pad-b-1-2">
          <div class="resizeable-pattern relative" style="{{#if readme.width}}width:{{readme.width}}px{{/if}}">
            <i class="icon i-48 patternbot-iframe-loading-gears absolute pin-c"><svg><use xlink:href="#patternbot-iframe-loading-gears"></use></svg></i>
            <iframe data-src="{{localPath}}" scrolling="no" onload="resizeIframe(this)" {{#if readme.backgroundColour}}data-inject-css=":root { --color-patternbot-interface:{{readme.interfaceColours.primary}}; --color-patternbot-interface-opposite:{{readme.interfaceColours.opposite}}; --color-patternbot-background:{{readme.backgroundColour}}; }"{{/if}}></iframe>
            {{# unless readme.notResizable}}
              <div class="resizeable-pattern-length">
                <div class="resize-handle resize-handle-left" style="{{#if readme.backgroundColour}}border-color:rgba({{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},.1); color:rgba({{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},.3);{{/if}}">
                  <i class="icon i-18">
                    <svg><use xlink:href="#icon-resize-handle" /></svg>
                  </i>
                </div>
                <div class="resize-handle resize-handle-right" style="{{#if readme.backgroundColour}}border-color:rgba({{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},.1); color:rgba({{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},.3);{{/if}}">
                  <i class="icon i-18">
                    <svg><use xlink:href="#icon-resize-handle" /></svg>
                  </i>
                </div>
              </div>
            {{/unless}}
          </div>
        </div>

        {{#unless readme.hideCode}}
          <div class="pattern-code-wrap gutter pad-t-1-2 pad-b-1-2" hidden aria-hidden="true" id="{{../name}}-{{name}}-code-sample" tabindex="-1">
            <div class="pattern-code relative milli island-1-2" style="{{#if readme.backgroundColour}}border-color:rgba({{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},.05); color:rgba({{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},{{readme.interfaceColours.primary}},.9);{{/if}}">
              <button class="center-contents-vertical pattern-tool-btn pattern-copy-btn absolute pin-tr" title="Copy code" aria-label="Copy code" data-clipboard-target="#{{../name}}-{{name}}-code-sample-copy-chunk" hidden>
                <i class="icon i-18">
                  <svg><use xlink:href="#icon-copy"></use></svg>
                </i>
              </button>
              <code><pre id="{{../name}}-{{name}}-code-sample-copy-chunk">{{{content}}}</pre></code>
            </div>
          </div>
        {{/unless}}
      </div>
    </div>
  {{/each}}

</section>
