<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Typography</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
    {{{modulifierMin}}}
    {{{gridifierMin}}}
  </style>
  {{#if typografier}}
    <link href="../../common/type.css" rel="stylesheet">
  {{/if}}
  {{#if theme}}
    <link href="../../common/theme.css" rel="stylesheet">
  {{/if}}
  {{#if fontUrl}}
    <link href="{{fontUrl}}" rel="stylesheet">
  {{/if}}
</head>
<body>

  {{{pattern}}}

</body>
</html>
