html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .9);
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

a {
  border-bottom: .1em solid rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .4);

  color: rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface));;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  border-bottom-color: rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface));
}

.max-length {
  margin-left: 0;
  margin-right: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  width: 100vw;
}

.masthead {
  min-width: 12em;
  overflow-x: hidden;
  width: 12em;

  background-color: rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .9);

  color: rgba(var(--color-patternbot-interface-opposite), var(--color-patternbot-interface-opposite), var(--color-patternbot-interface-opposite), .9);
}

.masthead-inner {
  height: 100vh;
  position: fixed;
  width: 12em;

  overflow-y: auto;
}

.masthead hr {
  border-color: rgba(var(--color-patternbot-interface-opposite), var(--color-patternbot-interface-opposite), var(--color-patternbot-interface-opposite), .2);
  border-width: 1px;
}

.nav a {
  border: 0;

  color: rgba(var(--color-patternbot-interface-opposite), var(--color-patternbot-interface-opposite), var(--color-patternbot-interface-opposite), .9);
  text-decoration: none;
}

.nav a:hover {
  background-color: rgba(var(--color-patternbot-interface-opposite), var(--color-patternbot-interface-opposite), var(--color-patternbot-interface-opposite), .9);
  color: rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .9);
}

.main {
  flex-grow: 1;
  width: calc(100% - 12em);
}

.main iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 100%;

  border: 0;
}

.pattern {

}

.pattern-toolbar {
  background-color: rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .2);

  border-bottom: 1px solid rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .2);
  border-top: 1px solid rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .2);
}

.pattern-toolbar-inner {
  background-color: rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .1);
  border-color: rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .1);
}

.pattern-nav li::after {
  content: "·";
  display: inline-block;
  margin-left: .3em;

  opacity: .4;

  color: currentcolor;
}

.pattern-nav li:last-child::after {
  content: none;
  display: none;
}

.pattern-nav a {
  opacity: .8;

  color: currentcolor;
}

.pattern-desc {
  background-color: rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .05);
  border-bottom: 1px solid rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .05);
}

.pattern-desc :last-child {
  margin-bottom: 0;
}

.pattern-code,
.pattern-code code,
.pattern-code pre {
  font-family: "Source Code Pro", monospace;
}

.pattern-code {
  overflow-x: hidden;

  background-color: rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .05);
  border: 1px solid rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .05);
  border-radius: 4px;
}

.pattern-code-wrap:focus {
  outline: none;
}

.pattern-code-wrap:focus .pattern-code {
  box-shadow: 0 0 0 3px currentcolor;
}

.pattern-code code,
.pattern-code pre {
  margin: 0;
}

.pattern-code code {
  overflow-x: auto;
}

.pattern-tool-btn {
  display: flex;
  min-height: 1.4em;
  min-width: 1.2em;
  padding: .2em .4em;

  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  opacity: .6;
  stroke: currentcolor;

  color: currentcolor;
}

.pattern-tool-btn:focus,
.pattern-tool-btn:hover {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  opacity: 1;
  color: currentcolor;
}

.pattern-tool-btn:focus,
.pattern-tool-btn:active,
.pattern-tool-btn[aria-pressed="true"] {
  border-color: currentcolor;
}

.page-pop .icon {
  opacity: .6;
  stroke: currentcolor;
}

.page-pop:focus .icon,
.page-pop:hover .icon {
  opacity: 1;
}

.resizeable-pattern {
  margin-left: auto;
  margin-right: auto;
  max-width: 100% !important;
}

.resizeable-pattern-length {
  width: 50%;
}

.resize-handle {
  display: none;
  justify-content: center;
  align-items: center;
  height: 80px;
  left: -26px;
  position: absolute;
  top: calc(50% - 40px);
  width: 20px;

  border-right: 1px solid rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .1);
  cursor: ew-resize;

  color: rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .3);
  stroke: currentcolor;
}

.pattern-details:hover .resize-handle {
  display: flex;
}

.resize-handle-right {
  left: auto;
  right: -26px;

  border-left: 1px solid rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .1);
  border-right: 0;
}
