:root {
  --color-patternbot-primary: #444;

  --font-patternbot-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-patternbot-code: "Source Code Pro", monospace;
}

.patternbot-list-group > li::before {
  content: "";
  display: none;
}

.patternbot-font-primary {
  font-family: var(--font-patternbot-primary);
}

.patternbot-color-body {
  color: var(--color-patternbot-primary);
}

.patternbot-max-length {
  margin-left: 0;
  margin-right: 0;
}

code,
pre {
  display: block;
  margin: 0;
  overflow-x: hidden;

  color: var(--color-patternbot-primary);
  font-family: var(--font-patternbot-code);
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
}

code {
  padding: 0 .4em .15em;

  background-color: #f8f8f8;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.patternbot-hr {
  border-width: 1px;
  border-color: #e2e2e2;
}

.patternbot-hr:last-child {
  display: none;
}

.patternbot-code-invisible {
  background-color: transparent;
  border-color: transparent;
}

.patternbot-pad-box {
  background-color: var(--color-primary, #e2e2e2);
}

.patternbot-pad-box-inner {
  overflow: hidden;

  background-color: #fff;
}

.patternbot-spacing-display {

}

.patternbot-spacing-display h2 {
  color: var(--color-patternbot-primary);
  line-height: 1.9;
  font-family: var(--font-patternbot-primary);
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
}

.patternbot-mq-display-wrap {
  max-width: 100%;
  overflow-x: auto;
  width: 100%;

  border-bottom: 1px solid #e2e2e2;
}

.patternbot-mq-display-wrap,
.patternbot-mq-display-wrap * {
  color: var(--color-patternbot-primary);
  line-height: 2;
  font-family: var(--font-patternbot-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}

.patternbot-mq-display {
  overflow: hidden;
}

.patternbot-mq-display > li:last-child {
  padding-bottom: 6rem;
}

.patternbot-mq-inner {
  min-height: 2rem;

  background-color: var(--color-primary, #e2e2e2);
  border-top: 2px solid #fff;
}

.patternbot-mq-list {
  min-width: 24em;
  padding-top: 2.2rem;

  border-left: 2px solid var(--color-primary, #e2e2e2);
}

.patternbot-mq-list > dt,
.patternbot-mq-list > dd {
  padding: 0;

  font-weight: normal;
  font-style: normal;
  font-size: inherit;
}

.patternbot-mq-list > dt {
  width: 7em;
}

.patternbot-code-details {
  margin: 0 0 .75em;
  padding: 1.5em 0 0 0;

  border-bottom: 1px solid #efefef;

  font-size: 14px;
  line-height: 2;
}

.patternbot-code-details-under {
  padding-top: 0;

  border: 0;
}
