.patternbot-grid-display {
  background-color: transparent;
}

.patternbot-grid-display > .unit {
  border: 2px solid var(--color-patternbot-background);
}

.patternbot-grid-display-inner {
  border: 2px solid var(--color-secondary, rgba(var(--color-patternbot-interface), var(--color-patternbot-interface), var(--color-patternbot-interface), .1));
}
